.settings{
    background-color: pink;
    color: black;
    padding: 24px;
.property{
    font-weight: 600;
}
.type span{
    font-weight: 600;
}
.black-line {
  border: none;
  height: 1px;
  background-color: black;
}

}