/* .slider{
    height: 455px;
} */
/* .slider-item {
  display: inline-block;
  width: 394px;
  height: 150px;
  background: pink;
  font-size: 26px;
  font-weight: 600;
  position: relative;
  margin: 0 12px;
} */
* {
  box-sizing: border-box;
}
/* .slider-wrap{
  height: 400px;
} */
/* .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

::ng-deep {
  .slider-main {
    aspect-ratio: 1.5;
  }
}

.custom-indicator {
  width: 10px;
  height: 10px;
  margin: 5px 0;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;}

.active-indicator {
  width: 20px; /* Make it rectangular */
  height: 10px;
  border-radius: 5px; /* Optional: slightly rounded corners */
  background-color: #ccc; /* Or any highlight color */

}

.slider-image{
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
