<!-- <div class="title-section text-center py-3" id="banner-section">
  <app-hearder></app-hearder>
    <h1 class="slider-title">Sleek Slider</h1>
  <p class="slider-title">Clean. Fast. Sleek. Just how a slider should be</p>
  <div class="overview">
    <h2>Features</h2>
    <div class="features">
      <p><span>Flexible Layouts</span> Choose from single or multi-row displays to fit any content arrangement.</p>
      <p><span>Fully Responsive</span> Adapts beautifully to all screen sizes with customizable breakpoints.</p>
      <p><span>Autoplay Magic</span> Set it and forget it — with adjustable speed for perfect pacing.</p>
      <p><span>Infinte Looping</span> Enjoy smooth, infinite scrolling for a seamless user experience.</p>
      <p><span>Custom Controls</span> Add your own navigation buttons and progress indicators.</p>
      <p><span>Global Ready</span> Right-to-left (RTL) support for full international compatibility.</p>
      <p><span>Swipe Like a Pro</span> Intuitive drag-and-swipe support powered by Hammer.js.</p>
      <p><span>Sleek Transitions</span> Configurable transition animations.</p>
      <p>Autoplay, dots, arrows, callbacks, etc...</p>
    </div>
  </div>
</div>

<app-demos id="demos-section"></app-demos>
<app-usage id="usage-section"></app-usage>
<app-settings id="settings-section"></app-settings> -->

<app-hearder></app-hearder>
<router-outlet />
