<div class="container">
    <ng-template #successfullyCopied let-toast="toast">
        <div class="toast show {{ toast.classname }}">
            <div class="toast-body">
                {{ toast.text }}
            </div>
        </div>
    </ng-template>
    <div class="usage-section">
        <h2 class="section-title">getting started</h2>
        <p>First, update your package manager and install the package and its peer dependency, Hammer.js:</p>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-12">
                <div class="command-block">
                    <div class="command-header">
                        <span>bash</span>
                        <button class="copy-btn" (click)="copyCommand('cmd1', successfullyCopied)"
                            ngbTooltip="copy command">Copy</button>
                    </div>
                    <div class="command-content" id="cmd1">
                        <span class="prompt">$</span>npm i &#64;nayerasami/sleek-slider hammerjs
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <h2 class="section-title">Usage</h2>
                <p>Standalone Components (Angular 14+)
                    Import SliderComponent directly into your standalone component:</p>
                <p> <span class="section-title">NgModule-Based Apps</span>
                    <br />
                    Import SleekSliderModule into your module:
                </p>
                <pre class="text-start p-2">
                    <code  [innerText]="sliderImportCode"></code>
                </pre>
                <p> Use in your template <span class="section-title">(your component HTML file)</span></p>
                <pre>
                    <code  [innerText]="sliderParentHtml"></code>
                </pre>
                <p>Add slider configuration options <span class="section-title"> (your component ts file)</span></p>
                <pre class="text-start p-2">
                    <code  [innerText]="sliderParentTS"></code>
                </pre>
            </div>
        </div>
    </div>
</div>