.navbar {
  background-color: #1e1e1e;

}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link.active {
  color: pink !important;
}

.navbar-brand {
  color: pink !important;
  font-family: "Tinos", serif !important;
  font-weight: 400;
  /* font-style: normal; */
}